/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --darkPurple: #2d006c;
    --lightPurple: #42009f;
    --dark: #180039;
    --gold: #CBB26A;
    --pastelYellow: #d8c690;
    --darkerYellow: #be9e44;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
